// VARIABLES
@import "../helpers/_variables.scss";

body {
  width: 100%;
  margin: 0 0;
  font: 20px/34px 'IBM Plex Sans';
  font-weight: 300;
  @media screen and (min-width: 1024px) {
    background: -15em -15em  url(../../img/bg-main-desktop.png);
  }
  @media screen and (max-width: 600px) {
    background: 0 -15em no-repeat url(../../img/bg-main-mobile.png)
  }
}

#root {
  width: 100%;
  @media screen and (min-width: 1024px) {
    width: 80%;
  }
  padding-top: 2.5em;
  margin: 0 auto;
}

.inline {
  display: flex;
}

